<ion-app>
	<!-- <ion-split-pane contentId="main-content"> -->
	<ion-menu side="start" menuId="first" contentId="main" type="overlay">
		<ion-header>
			<ion-toolbar color="default">
				<ion-title class="ion-float-left">
					Menu
				</ion-title>
				<ion-buttons (click)="closeMenu()" class="ion-float-right">
					<ion-icon name="close" class="close-icon"></ion-icon>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list id="inbox-list">
				<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
					<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
						detail="false" [class.selected]="selectedIndex == i">
						<!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
						<ion-img [src]="p.icon"></ion-img>&nbsp;&nbsp;<ion-label>{{ p.name }}</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>

			<ion-list id="labels-list">
				<ion-list-header>{{generalData?.version.name}}</ion-list-header>
				<ion-label *ngFor="let d of generalData?.version.modules">
					{{d.name}} - {{d.value}} <br>
				</ion-label>
				<br>
				<ion-title class="ion-text-center">{{generalData?.credit}}</ion-title>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-router-outlet id="main"></ion-router-outlet>

	<!-- </ion-split-pane> -->
</ion-app>