<app-common-header></app-common-header>
<ion-content class="ion-no-padding" scrollEvents="true">
	<main id="main" class="Pos(r) M(a)" style="max-width: 600px;">
<!--		<div>-->
<!--			<div class="Pos(r) Z(1) Bgc($white3) Px($xxs) Py($sm)"><a class="D(b) Px($sm) Py($xms)"-->
<!--					href="/tag/0DQzw?referrer=trendingFeedPage">-->
<!--					<div class="D(f) Ai(c) Pos(r) Bgc($white) Ov(h) Bxsh($bxshheader) Bdrs($xxs) ">-->
<!--						<div-->
<!--							class="W(100%) Pstart($3xl) Py($xs) Pos(r) D(f) C($darkText) Fw($fwsubheading) Fz($fzsubheading) Lh($lhsubheading) Pend($2xl)">-->
<!--							<div-->
<!--								class="Pos(a) Start(0) Pos(a) T(50%) TranslateY(-50%)  W($xxl) H(100%) Bgc($lightGrey) ">-->
<!--								<div class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) Fz($lg) C($primary)">-->
<!--									💐-->
<!--								</div>-->
<!--							</div> શુભ મંગળવાર-->
<!--						</div>-->
<!--					</div>-->
<!--				</a><a class="D(b) Px($sm) Py($xms)" href="/tag/zWb60E?referrer=trendingFeedPage">-->
<!--					<div class="D(f) Ai(c) Pos(r) Bgc($white) Ov(h) Bxsh($bxshheader) Bdrs($xxs) ">-->
<!--						<div-->
<!--							class="W(100%) Pstart($3xl) Py($xs) Pos(r) D(f) C($darkText) Fw($fwsubheading) Fz($fzsubheading) Lh($lhsubheading) Pend($2xl)">-->
<!--							<div-->
<!--								class="Pos(a) Start(0) Pos(a) T(50%) TranslateY(-50%)  W($xxl) H(100%) Bgc($lightGrey) ">-->
<!--								<div class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) Fz($lg) C($primary)">-->
<!--									😱-->
<!--								</div>-->
<!--							</div>મચ્છુ ડેમ 2 ઓવરફ્લો😲-->
<!--						</div>-->
<!--					</div>-->
<!--				</a><a class="D(b) Px($sm) Py($xms)" href="/tag/8rROdM?referrer=trendingFeedPage">-->
<!--					<div class="D(f) Ai(c) Pos(r) Bgc($white) Ov(h) Bxsh($bxshheader) Bdrs($xxs) ">-->
<!--						<div-->
<!--							class="W(100%) Pstart($3xl) Py($xs) Pos(r) D(f) C($darkText) Fw($fwsubheading) Fz($fzsubheading) Lh($lhsubheading) Pend($2xl)">-->
<!--							<div-->
<!--								class="Pos(a) Start(0) Pos(a) T(50%) TranslateY(-50%)  W($xxl) H(100%) Bgc($lightGrey) ">-->
<!--								<div class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) Fz($lg) C($primary)">-->
<!--									😱-->
<!--								</div>-->
<!--							</div>નવા અંજલિભાભી😲-->
<!--						</div>-->
<!--					</div>-->
<!--				</a><a class="D(b) Px($sm) Py($xms)" href="/tag/NyerbX?referrer=trendingFeedPage">-->
<!--					<div class="D(f) Ai(c) Pos(r) Bgc($white) Ov(h) Bxsh($bxshheader) Bdrs($xxs) ">-->
<!--						<div-->
<!--							class="W(100%) Pstart($3xl) Py($xs) Pos(r) D(f) C($darkText) Fw($fwsubheading) Fz($fzsubheading) Lh($lhsubheading) Pend($2xl)">-->
<!--							<div-->
<!--								class="Pos(a) Start(0) Pos(a) T(50%) TranslateY(-50%)  W($xxl) H(100%) Bgc($lightGrey) ">-->
<!--								<div class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) Fz($lg) C($primary)">-->
<!--									📰-->
<!--								</div>-->
<!--							</div> 25 ઓગસ્ટનાં સમાચાર-->
<!--						</div>-->
<!--					</div>-->
<!--				</a><a class="D(b) Px($sm) Py($xms)" href="/tag/kVP7z?referrer=trendingFeedPage">-->
<!--					<div class="D(f) Ai(c) Pos(r) Bgc($white) Ov(h) Bxsh($bxshheader) Bdrs($xxs) ">-->
<!--						<div-->
<!--							class="W(100%) Pstart($3xl) Py($xs) Pos(r) D(f) C($darkText) Fw($fwsubheading) Fz($fzsubheading) Lh($lhsubheading) Pend($2xl)">-->
<!--							<div-->
<!--								class="Pos(a) Start(0) Pos(a) T(50%) TranslateY(-50%)  W($xxl) H(100%) Bgc($lightGrey) ">-->
<!--								<div class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) Fz($lg) C($primary)">-->
<!--									🙋‍♂️-->
<!--								</div>-->
<!--							</div> સોનાના ભાવમાં ભડકો-->
<!--						</div>-->
<!--					</div>-->
<!--				</a><a class="D(b) Px($sm) Py($xms)" href="/explore?referrer=trendingFeedPage">-->
<!--					<div-->
<!--						class="D(f) Ai(c) Pos(r) Py($xs) Pstart($3xl) Pend($2xl) Bgc($white) Bdrs($xs) Ov(h) Bxsh($bxshheader)">-->
<!--						<div class="Pos(a) T(0) Start(0) W($xxl) H($xxl) Bgc($blue3)">-->
<!--							<div-->
<!--								class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) Fz($fztitle) Lh($lhtitle) Fw($fwtitle) C($white)">-->
<!--								<div-->
<!--									class="D(if) Jc(c) Ai(c) Va(m) W($lg) H($lg) active_Scale(1.15)  Trs($trsicon) Rotate(90deg)">-->
<!--									<div class="W(100%) H(100%)  "><svg viewBox="0 0 24 24" class="Fill($blue2) Fxg(1)">-->
<!--											<path-->
<!--												d="M12.354 7.283a.5.5 0 0 0-.708 0l-5.01 5.01a1 1 0 0 0 0 1.414l.087.086a1 1 0 0 0 1.414 0L12 9.93l3.863 3.863a1 1 0 0 0 1.414 0l.086-.086a1 1 0 0 0 0-1.414l-5.01-5.01z">-->
<!--											</path>-->
<!--										</svg></div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="Fxg(1) C($blue2) Fw($fwsubheading) Fz($fzsubheading) Lh($lhsubheading)">See-->
<!--							more-->
<!--						</div>-->
<!--					</div>-->
<!--				</a></div>-->
<!--		</div>-->
		<div class="Pos(r) Trs($trstransform)" style="transform: translate3d(0px, 0px, 0px);">
			<div class="infinite-list-wrapper">
				<section class="post-batct">
					<!-- Data to display after skeleton screen -->
					<div *ngFor="let v of videos; let vdi = index">
						<div class="Pb($xs)">
							<div class="D(b) Px($md) Bgc($white) ">

								<div class="Pos(r) Py($xs) Pend($xl)">
									<a href="/profile/325065861?referer=trendingFeed" class="D(f) Ai(c) Pend($xxs) ">
										<img alt="{{v.user_info.first_name}} - Author on WhatsTik: Funny, Romantic, Videos, Shayari, Quotes"
											src="{{v.user_info.profile_pic}}" data-src="{{v.user_info.profile_pic}}"
											class="W($xxl) H($xxl) Us(n) Of(c) Bgc($white4) Bdrs(50%) Fxs(0) lazyloaded">
										<div class="H(100%) Pstart($xs) Fxg(1) Miw(0)">
											<div class="H(100%) Ta(start) D(f) Jc(c) Ai(fs) Fxd(c)">
												<div class="D(f) Ai(c) W(100%)">
													<strong
														class="Whs(nw) Ovx(h) Tov(e) Maw(100%) Fz($fzbutton) Lh($lhmediumCaption) Fw(600) C($darkText) Whs(nw) Ovx(h) Tov(e) Maw(100%)">
														{{v.user_info.first_name}} {{v.user_info.last_name}}
													</strong>
												</div>
												<div
													class="Fz($fzcaption) Lh($lhcaption) C($darkTextSecondary) Whs(nw) Ovx(h) Tov(e) Maw(100%) Mt($3xs)">
													<div class="D(f)">
														<div>{{v.count.view}} એ જોયું</div>
														<div class="Px($xxs)">•</div>
														<div>{{v.created_human}}</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<div class="Pos(a) T(50%) TranslateY(-50%) D(f) Ai(c) End($nxxs)">
										<a class="Pos(r) D(f) Jc(c) Ai(c) Va(m) undefined M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  undefined W(100%) H(100%) W($xl) H($xl)"
											aria-label="Click for more options" href="/shareModal?referer=trendingFeed">
											<div
												class="D(f) Jc(c) Ai(c)  P($xxs) Bgc($white3):h transparent_Bgc($darkDivider):h Bdrs(50%) Ov(h)">
												<div
													class="D(if) Jc(c) Ai(c) Va(m) W($lg) H($lg) active_Scale(1.15) avatar Bdrs(50%) Ov(h) Trs($trsicon) C($darkTextSecondary)">
													<div class="W(100%) H(100%)  "><svg viewBox="0 0 24 24"
															class="Fill(cc) Fxg(1)">
															<path
																d="M12 16c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0-2c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm0-6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z">
															</path>
														</svg></div>
												</div>
											</div>
										</a>
									</div>
								</div>

								<a class="D(b) Mx($nmd)">
									<div class="Pos(r) Ov(h)">
										<div class="Pos(r) W(100%) Bgc($white3)" style="padding-bottom: 100%;">
											<div class="Pos(a) Start(0) W(100%) T(0) H(100%)">

												<vg-player (onPlayerReady)="onPlayerReady($event,vdi)">
													<vg-overlay-play></vg-overlay-play>
													<vg-controls [vgFor]="v.id">
														<vg-playback-button
															[playbackValues]="['0.5', '1.0', '1.5','2.0' ]">
														</vg-playback-button>
														<vg-mute></vg-mute>
													</vg-controls>
													<video [vgMedia]="media" #media [attr.id]="v.id" class="video"
														inViewport
														[inViewportOptions]="{ partial: false, thresold:[0.8] }"
														(inViewportAction)="onIntersection($event,vdi)" [src]="v.video"
														poster="{{v.thum}}" type="video/mp4" preload="none"
														class="Us(n) Of(c) post-media Pos(a) Start(0) W(100%) T(0) H(100%)"
														loop="0" playsinline="">Your browser does not support the video
														tag.</video>
												</vg-player>
												<!-- <div
														class="Pos(a) Start(0) W(100%) T(0) H(100%) Bgc($modal) fade-enter-done">
														<div
															class="Pos(a) T(50%) Start(50%) Translate(-50%,-50%) W($4xl) H($4xl) C($white)">
															<div class="W(100%) H(100%) "><svg viewBox="0 0 48 48"
																	class="Fill(cc) Fxg(1)">
																	<path
																		d="M39.3 8.7C35.4 4.8 22 3.6 13.5 6.2c-2.2.7-3.8 1.5-4.8 2.5-1.2 1.2-2.2 3.3-2.9 6.2-.7 2.7-1 5.9-1 9.1 0 3.3.4 6.5 1 9.2.7 2.8 1.7 4.9 2.9 6.1 5.2 5.2 25.4 5.2 30.6 0 1.2-1.2 2.2-3.3 2.9-6.1.7-2.7 1-5.9 1-9.1 0-3.2-.4-6.5-1-9.2-.7-2.9-1.7-5-2.9-6.2m2-2c1.6 1.6 2.8 4.2 3.6 7.4.7 2.9 1.1 6.4 1.1 9.9s-.4 6.9-1.1 9.8c-.8 3.3-2 5.8-3.6 7.5-6.3 6.3-28.2 6.3-34.5 0-1.6-1.6-2.8-4.2-3.6-7.4C2.4 31 2 27.5 2 24s.4-6.9 1.1-9.8c.8-3.3 2-5.9 3.6-7.5 1.3-1.3 3.4-2.4 5.9-3.2C22.1.6 36.5 1.9 41.3 6.7M16 14v20l17-10-17-10z">
																	</path>
																</svg></div>
														</div>
													</div> -->
												<div
													class="Pos(a) B(0) End(0) P($xs) Fz($sm) Lh($lhcaption) Fw(500) C(white) text-shadow">
													<span>00:14 / 1 MB</span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<div class="Ov(h)">
									<div class="Py($xs) Whs(pw) Wow(bw) C($darkText) Fz($fzbutton)">
										<span class="Pend($xxs) C($primary) Fw(600)">{{v.description}}</span>
									</div>
								</div>
								<div class="D(f) Jc(sb) W(100%) Py($xs)">
									<div class="D(f) Ai(c) Fxg(1)">
										<div class="D(f) W(100%) Fxg(1)">
											<div class="D(f) W(100%) Fxg(1)">
												<button
													class="Bds(n) Va(bl) Cur(p) Pos(r) D(f) Jc(c) Ai(c) Va(m) P(0) M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  Bgc(t)  C($darkTextSecondary)"
													aria-label="Click to share">
													<div class="D(f) Jc(c) Ai(c)  ">
														<div
															class="D(if) Jc(c) Ai(c) Va(m) W($lg) H($lg) active_Scale(1.15)  Trs($trsicon) undefined blink-light">
															<img class="W(100%) D(ib) fitcover_Of(c) avatar_H(100%) "
																src="/assets/svg/social/whatsapp.svg" alt="શેર">
														</div>
														<span class="Pstart($xxs) Fz($sm) Lh($lhcaption)">2.2K</span>
													</div>
												</button>
											</div>
										</div>
										<div class="D(f) W(100%) Fxg(1)">
											<button
												class="Bds(n) Va(bl) Cur(p) Pos(r) D(f) Jc(c) Ai(c) Va(m) P(0) M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  Bgc(t)  C($darkTextSecondary)"
												aria-label="Click to like" (click)="likeAction($event)">
												<div class="D(f) Jc(c) Ai(c)  ">
													<div
														class="D(if) Jc(c) Ai(c) Va(m) W($lg) H($lg) active_Scale(1.15)  Trs($trsicon)  ">
														<div class="W(100%) H(100%) ">
															<div class="stage">
																<div class="heart"
																	[class]="(v.liked === '1')?'is-active':''"></div>
															</div>
														</div>
													</div>
													<span
														class="Pstart($xxs) Fz($sm) Lh($lhcaption)">{{v.count?.like_count}}</span>
												</div>
											</button></div>
										<div class="D(f) W(100%) Fxg(1)"><button
												class="Bds(n) Va(bl) Cur(p) Pos(r) D(f) Jc(c) Ai(c) Va(m) P(0) M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  Bgc(t)  C($darkTextSecondary)"
												aria-label="Click to comment">
												<div class="D(f) Jc(c) Ai(c)  ">
													<div
														class="D(if) Jc(c) Ai(c) Va(m) W($lg) H($lg) active_Scale(1.15)  Trs($trsicon)  ">
														<div class="W(100%) H(100%)  "><svg viewBox="0 0 24 24"
																class="Fill(cc) Fxg(1)">
																<path
																	d="M3 21H2a1 1 0 0 0 1.514.858L3 21zm5-9a1 1 0 1 0 0 2v-2zm8 2a1 1 0 1 0 0-2v2zM8 8a1 1 0 0 0 0 2V8zm8 2a1 1 0 1 0 0-2v2zm-8.95 8.57l-.515-.858.515.858zM6 5h12V3H6v2zm14 2v8h2V7h-2zm-2 10H9.108v2H18v-2zm-11.465.712l-4.05 2.43 1.03 1.716 4.05-2.43-1.03-1.716zM4 21V7H2v14h2zm4-7h8v-2H8v2zm0-4h8V8H8v2zm1.108 7a5 5 0 0 0-2.573.712l1.03 1.715A3 3 0 0 1 9.107 19v-2zM20 15a2 2 0 0 1-2 2v2a4 4 0 0 0 4-4h-2zM18 5a2 2 0 0 1 2 2h2a4 4 0 0 0-4-4v2zM6 3a4 4 0 0 0-4 4h2a2 2 0 0 1 2-2V3z">
																</path>
															</svg></div>
													</div><span
														class="Pstart($xxs) Fz($sm) Lh($lhcaption)">{{v.count?.video_comment_count}}</span>
												</div>
											</button></div>
									</div>
									<div class="D(f) Ai(c) Fxs(0) Mstart($md)"><button
											class="Bds(n) Va(bl) Cur(p) Pos(r) D(f) Jc(c) Ai(c) Va(m) P(0) M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  Bgc(t) W(100%) H(100%) W(a) Fxg(1) C($darkTextSecondary)"
											aria-label="Click to download">
											<div class="D(f) Jc(c) Ai(c)  ">
												<div
													class="D(if) Jc(c) Ai(c) Va(m) W($lg) H($lg) active_Scale(1.15)  Trs($trsicon) ">
													<div class="W(100%) H(100%)  "><svg width="24" height="24"
															viewBox="0 0 24 24" class="Fill(cc) Fxg(1)">
															<path
																d="M9.492 4.104c0-.293.122-.574.34-.78A1.19 1.19 0 0 1 10.65 3h2.703c.307 0 .602.117.819.324.217.207.339.487.34.78v6.245c0 .05.02.099.058.134a.204.204 0 0 0 .14.056h2.312c.19-.014.381.03.545.125.163.095.29.238.363.406a.826.826 0 0 1 .044.532.858.858 0 0 1-.293.455l-4.862 4.63c-.22.201-.514.313-.82.313-.304 0-.598-.112-.819-.313l-4.861-4.63a.858.858 0 0 1-.295-.455.825.825 0 0 1 .044-.533.876.876 0 0 1 .364-.406.943.943 0 0 1 .546-.124H9.29a.207.207 0 0 0 .141-.055.189.189 0 0 0 .058-.135l.003-6.245zM20.722 16.244l-.542.594.542-.594zm-16.804.622l.071.002-.07-.002zM4 17v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1">
															</path>
														</svg></div>
												</div>
											</div>
										</button></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Skeleton screen -->
					<div *ngIf="!videos">
						<ion-card *ngFor="let i of [1,2,3,4]">
							<ion-card-header>
								<ion-item>
									<ion-avatar slot="start">
										<ion-skeleton-text animated></ion-skeleton-text>
									</ion-avatar>
									<ion-label>
										<h3>
											<ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
										</h3>
										<p>
											<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
										</p>
									</ion-label>
									<ion-buttons slot="end">
										<ion-skeleton-text animated></ion-skeleton-text>
									</ion-buttons>
								</ion-item>
							</ion-card-header>
							<ion-card-content>
								<div class="ion-padding custom-skeleton">
									<ion-img slot="start">
										<ion-skeleton-text animated style="height: 200px;"></ion-skeleton-text>
									</ion-img>
									<ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
									<ion-skeleton-text animated></ion-skeleton-text>
									<ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
								</div>
								<ion-label class="ion-justify-content-center">
									<ion-grid>
										<ion-row class="ion-align-items-center">
											<ion-col>
												<ion-skeleton-text animated style="width: 20%;height: 20%;"></ion-skeleton-text>
											</ion-col>
											<ion-col>
												<ion-skeleton-text animated style="width: 20%;height: 20%;"></ion-skeleton-text>
											</ion-col>
											<ion-col>
												<ion-skeleton-text animated style="width: 20%;height: 20%;"></ion-skeleton-text>
											</ion-col>
											<ion-col>
												<ion-skeleton-text animated style="width: 20%;height: 20%;"></ion-skeleton-text>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-label>
							</ion-card-content>
						</ion-card>
					</div>
				</section>
			</div>
		</div>
	</main>



</ion-content>
