<ion-header [translucent]="true" #header>
  <header
          class="Pos(r) H(a) T(0) Start(0) W(100%) Z(50) Bxsh($bxshheader) Bgc($white) Trs($trstransform)  page-header"  appHideHeader>
    <div class="Pos(r) Px($sm) D(f) Ai(c) Jc(sb)">
      <div class="D(f) Ai(c)">
        <ion-buttons slot="start">
          <ion-menu-button class="burger-menu" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <div class="H($2xl) Mstart($sm) D(f) Jc(c) Ai(c)">
          <div class="D(if) Jc(c) Ai(c) Va(m) W($7xl) H($lg) active_Scale(1.15)  Trs($trsicon) ">
            <img class="W(100%) D(ib) fitcover_Of(c) avatar_H(100%) "
                 src="http://www.whatstik.com/API/assets/images/watermark.png" alt="WhatsTik">
          </div>
        </div>
      </div>
      <div class="D(f) Ai(c)">
        <div class="H($lg) "><a
                class="Pos(r) D(f) Jc(c) Ai(c) Va(m) undefined M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  undefined W(100%) H(100%) "
                aria-label="Click to see notification" href="/notificationModal?referrer=homePageTopNav">
          <div class="D(f) Jc(c) Ai(c)  ">
            <div class="D(if) Jc(c) Ai(c) Va(m) W($xl) H($xl) active_Scale(1.15)  Trs($trsicon) ">
              <div class="W(100%) H(100%)  D(f) Jc(c) Ai(c)"><svg width="24" height="24"
                                                                  viewBox="0 0 24 24" fill="none" class="Fill(cc) Fxg(1)">
                <path
                        d="M13.863 19.5h-3.726a.208.208 0 0 0-.207.185 2.083 2.083 0 1 0 4.153.232c0-.078-.004-.155-.013-.232a.207.207 0 0 0-.207-.185zM19.872 18.063a13.637 13.637 0 0 1-1.455-6.11v-.64a7.595 7.595 0 0 0-3.222-6.351 5.315 5.315 0 0 0-1.945-.765V3.25a1.25 1.25 0 0 0-2.5 0v.957a5.615 5.615 0 0 0-2.376 1.065 7.667 7.667 0 0 0-2.79 6.041v.64a13.638 13.638 0 0 1-1.456 6.11.417.417 0 0 0 .372.604h15a.417.417 0 0 0 .372-.605v.001z"
                        fill="#4A4A59"></path>
              </svg></div>
            </div>
          </div>
        </a></div>
        <div class="Mstart($sm) fade-enter-done"><button
                class="Bds(n) Va(bl) Cur(p) Pos(r) D(f) Jc(c) Ai(c) Va(m) P($xs) M(0) O(0) Us(n) Fz($fzbutton) Lh($lhbutton)  Bgc($primary) W(100%) H(100%) Bdrs($xxs) Fz($smd) Fw($fwtitle) C(white) "
                aria-label="Add to Home Screen">
          <div class="D(f) Jc(c) Ai(c)  ">INSTALL</div>
        </button></div>
      </div>
    </div>
    <div class="Pos(r) H($1xl)">
      <div class="Pos(r) W(100%) H(100%)">
        <div class="Pos(r) Ovx(a) H(100%) Maw(600px) M(a)">
          <ul class="List(n) D(f) Ai(c) Jc(fs) W(a) H(100%)" style="padding-left: 0;">
            <li class="Pos(a) B(0) Start(0) W(100px) H(3px) Bdrs(2px) Bgc($primary) Trs($trstabslider)"
                style="width: 92px; left: auto;"></li>
            <li class="Fxs(0)"><a aria-current="page"
                                  class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption) active"
                                  aria-label="Click to see પ્રખ્યાત" href="/trending"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">પ્રખ્યાત</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see કોરોના" href="/topic/corona-gujarati-1259"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">કોરોના</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see સમાચાર" href="/topic/news-gujarati-432"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">સમાચાર</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see સિનેમા" href="/topic/cinema-gujarati-64"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">સિનેમા</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see સ્પોર્ટ્સ" href="/topic/sports-gujarati-57"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">સ્પોર્ટ્સ</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see પ્રેમ" href="/topic/love-gujarati-63"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">પ્રેમ</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see શુભકામના" href="/topic/wishes-gujarati-60"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">શુભકામના</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see વ્હોટ્સએપ" href="/topic/whatsapp-gujarati-287"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">વ્હોટ્સએપ</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see ભોજન" href="/topic/food-gujarati-526"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">ભોજન</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see ભક્તિ" href="/topic/devotion-gujarati-59"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">ભક્તિ</span></a>
            </li>
            <li class="Fxs(0)"><a
                    class="Pos(r) D(f) Jc(c) Ai(c) H(100%) Px($lg) Ta(c) Tt(u) Fz($fzbutton) Lh($lhmediumCaption)"
                    aria-label="Click to see ફેશન" href="/topic/fashion-gujarati-115"><span
                    class="C($darkTextSecondary) active_C($darkText) active_Fw($fwbutton)">ફેશન</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</ion-header>
